<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      html layout:decorate="~{layout}"
      >
    <head>
        <meta charset="UTF-8">
    </head>
    <body>

        <section class="layout-content" layout:fragment="corpo">
            <nav class="navbar navbar-expand-md bg-light">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <i class="oi oi-caret-right"></i>
                            <span > MINHAS TAREFAS </span>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="container" id="listagem">

                     
                <div class="table-responsive">

                    <div th:replace="files/alert"></div>

                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>

                                <!--<th>#</th>-->                                
                                <th>Tarefa</th>
                                <th>Data Planejada</th>
                                <th>Data Finalizada</th>
                                <th>Status</th>
                                <th>Encerrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="c : ${lista}">
                                <!--<td th:text="${c.id}">1</td>-->
                                <td th:text="${c.taskDescription}">Jorge da Silva</td>
                                <td th:text="${#temporals.format(c.plannedDate, 'dd/MM/yyyy')}">(32)99974-0341</td>
                                <td th:text="${#temporals.format(c.finishedDate, 'dd/MM/yyyy')}">(32)3241-1646</td>
                                <td > 
                                <span th:class="${c.status.cor}" th:text="${c.status.descricao}">Primary</span>
                                </td>
                                <td >
                                    <a th:href="@{'/task/'+${c.id}+'/close'}" th:if="${c.status.name()=='NOVO' || c.status.name()=='ATRASADO'}" class="btn btn-primary">
                                        <i class="fa fa-trash"></i> fechar</a>
                                </td>
                                
                                   

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </section>
    </body>
</html>		