<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Web Task</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" th:href="@{/img/costureiradobem_branca.png}" />

        <!-- Bootstrap core CSS -->
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <!-- Custom styles for this template -->
        <link th:href="@{/css/style.css}" rel="stylesheet" />


        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
        <script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>

        <header>
            <nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="btn btn-dark navbar-toggle pull-left menu-toggle"  data-target="#side-bar">
                            <i class="oi oi-menu"></i>
                        </button>
                        <a class="navbar-brand " href="#">WebTask</a>
                    </div>
                </div>
            </nav>
        </header>

        <div class="layout-main"> 

            <aside class="wrapper" id="side-bar">
                <nav id="menu" class="sidebar sidebar-open">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link " href="/"> <i
                                    class="oi oi-home"></i> <span>Home</span>
                            </a></li>
                    </ul>
                    
                        <ul class="nav nav-pills" sec:authorize="hasRole('ADMIN')" >
                            <li class="nav-item"><span class="nav-link active" >Administração</span></li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   th:href="@{/material/cadastrar}"> <i class="oi oi-cart"></i> <span>Clientes</span>
                                </a>
                            </li>                           
                            <li class="nav-item">
                                <a class="nav-link"
                                   th:href="@{/material/cadastrar}"> <i class="oi oi-cart"></i> <span>Relatórios</span>
                                </a>
                            </li>                           
                        </ul>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><span class="nav-link active" >Geral</span></li>
                        <li class="nav-item">
                            <a class="nav-link " th:href="@{/user/editar}"> <i class="oi oi-spreadsheet"></i>
                                    <span>Meus Dados</span>
                            </a>
                        </li>
                        <li class="nav-item"><span class="nav-link active" >Tarefas</span></li>
                        <li class="nav-item">
                            <a class="nav-link " th:href="@{/task}"> <i class="oi oi-spreadsheet"></i>
                                    <span>Nova Tarefa</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               th:href="@{/task/list}"> <i class="oi oi-spreadsheet"></i> 
                                <span>Minhas Tarefas</span>
                            </a>
                        </li>
<!--                        <li class="nav-item">
                            <a class="nav-link"
                               th:href="@{/doador/consulta}"> <i class="oi oi-spreadsheet"></i> 
                                <span>Consultar Doadores</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:href="@{/beneficiario/consulta}"> <i class="oi oi-spreadsheet"></i> 
                                <span>Consultar Beneficiário</span>
                            </a>
                        </li>                        -->


                        <li class="nav-item"  sec:authorize="isAuthenticated()">
                            <a class="nav-link " href="/logout"> 
                                <i class="oi oi-account-logout"></i> <span>Sair</span>
                            </a>
                        </li>

                    </ul>

                </nav>
            </aside>

            <section layout:fragment="corpo">
                <div>conteudo principal das páginas</div>
            </section>

        </div>
        <footer class="layout-footer">
            <div class="container">
                <span class="footer-copy">&copy; 2020 Web Task. Todos os direitos reservados.</span>
            </div>
        </footer> 

        <!-- Bootstrap core JavaScript
                ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->


        <script type="text/javascript">

            var url = '';

            $('button[id*="btn_"]').click(function () {
                urlSistema = $(this).attr('id').split("_")[2];
                url = urlSistema + $(this).attr('id').split("_")[1];
            });

            $('#ok_confirm').click(function () {
                document.location.href = url;
            });


            $(function () {
                $('[data-toggle="popover"]').popover();
            });

            $(document).ready(function () {
                $(".navbar-toggle").click(function () {
                    $(".sidebar").toggleClass("sidebar-open");
                })
            });

        </script>
    </body>
</html>
